html {
    
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
  text-align: center;
}

.Sidebar {
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-color: #e5e5ce;
    width: 24%;
    height: 100vh;
    text-align: center;
    position: fixed;
    border-right: 1px solid black;


   

}


.main {
    
    width: 75%;
    position: absolute;
    left: 25%;
    top: 0;
    bottom: 0;

}


.pokes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.box {
    margin: 2px;
    border: 1px solid black;
    text-align: center;
    width: 170px;
    height: 170px;
    
}